<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${title}" />
</head>
<body>
    <div>
        <h1>Velkommen</h1>
        <p>Jeg er testkomponenten i version <span th:text="${version}" />.</p>
        <p>Mit hostnavn er <span th:text="${hostname}" /> og jeg kører i <span th:text="${environment}" />.</p>
        <p>Jeg er en konfigurerbartekst: <span th:text="${configurableText}" />.</p>

        <h2>Brugerkontekst</h2>
        <table>
            <thead>
                <tr>
                    <th>Attribut</th>
                    <th>Værdier</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="context : ${userContext}">
                    <td th:text="${context.key}" />
                    <td th:text="${context.value}" />
                </tr>
            </tbody>
        </table>

        <h2>Sidst kaldt</h2>
        <div th:if="${lastAccess != null}" th:text="${lastAccess}" />

        <h2>Beskyttet service kald</h2>
        <div th:if="${remoteResponse != null}">
            <table>
                <thead>
                <tr>
                    <th>Attribut</th>
                    <th>Værdier</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="context : ${remoteResponse}">
                    <td th:text="${context.key}" />
                    <td th:text="${context.value}" />
                </tr>
                </tbody>
            </table>
        </div>
        <div th:unless="${remoteResponse != null}">
            Service kald er slået fra.
        </div>

        <h2>Ubeskyttet service kald</h2>
        <div th:if="${remoteVersion != null}">
            <table>
                <thead>
                <tr>
                    <th>Beskrivelse</th>
                    <th>Værdi</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Remote version: </td>
                    <td th:text="${remoteVersion}" />
                </tr>
                <tr>
                    <td>Remote hostname: </td>
                    <td th:text="${remoteHostname}" />
                </tr>
                </tbody>
            </table>
        </div>
        <div th:unless="${remoteVersion != null}">
            Service kald er slået fra.
        </div>
        <h2>Logud</h2>
        <a th:href="@{/html/saml/slo}">Klik her</a>
    </div>
</body>
</html>