<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${title}" />
</head>
<body>
    <div>
        <h1>Velkommen</h1>
        <p>Jeg er testkomponenten i version <span th:text="${version}" />.</p>
        <p>Mit hostnavn er <span th:text="${hostname}" /> og jeg kører i <span th:text:="${environment}" />.</p>
        <p>Jeg er en konfigurerbartekst: <span th:text="${configurableText}" />.</p>
    </div>
</body>
</html>